.textbox {
    width: 2vw;
}
.mainheading{
    text-align: center;
    font-size: 4vw;
}
.text{
    margin-top: 1%;
    font-size: 1.2vw;
    word-break:break-all;
    word-wrap:normal
}
.subheading{
    font-size: 2vw;
    margin-top: 1%;
}
#imgDefInd{
    margin-top: 3%;
}
body{
    background-image: url("Bilder/Verschluesselung.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#videodef{
    margin-top: -20%;
    margin-left: 55%;
}